* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(27, 26, 26);
  text-align: center;
  margin-top: 80px;

}

#container {
  width: 1325px;
  height: 495px;
  border: 1px solid rgb(17, 17, 17);
  position: relative;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgb(255, 153, 0);
}

.card {
  width: 160px;
  height: 240px;
  position: absolute;
  border-radius: 10px;
  perspective: 600px;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transition: all 1s;
  backface-visibility: hidden;
}

.back {
  background-image: url('../images/ladoB.jpg');
}

.back.flipped {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(-180deg);
}

.front.flipped {
  transform: rotateY(0deg);
}

.card:hover {
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

.face.flipped.match {
  box-shadow: inset 0 0 1em rgb(0, 255, 21), 0 0 1em rgb(0, 255, 64);
}

#modalGameOver {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#imgGameOver {
  margin-top: 120px;
}

#imgMatchSign {
  position: relative;
  top: 250px;
  transition-property: top, opacity;
  transition-duration: 1.5s;
  opacity: 1;
  z-index: -1;
}